.courses-overview {
  display: flex;
  flex-flow: row wrap;
}

.course-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40vw;
  flex: 1 1 51%;
  max-width: 50%;
}

.course-container__title {
  font-size: 1.8vw;
  color: #e5434a;
  text-transform: uppercase;
}

@media (min-width: 65em) {
  .course-container {
    height: 30vw;
  }
}

@media (min-width: 30em) and (max-width: 45em) {
  .course-container__title {
    font-size: 2.5vw;
  }
}

@media (max-width: 30em) {
  .course-container {
    height: 95vw;
    flex: 1 1 100%;
    max-width: none;
  }
  .course-container__title {
    font-size: 5vw;
  }
}
