@import url('https://fonts.googleapis.com/css?family=Kanit:800');
@font-face {
  font-family: Folklore;
  src: url(../font/folklore.otf);
}
html {
  height: 100%;
  font-family: 'Kanit', sans-serif;
  font-size: 0.85rem;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.coral {
  color: #e5434a;
}

.pseudo-arrow {
  display: inline-block;
  font-family: Folklore, monospace;
}
.arrow-block {
  display: flex;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.arrow-block--compact .pseudo-arrow {
  margin: -1.2rem -.2rem;
}
.arrow-block--clickable {
  cursor: pointer;
}
.arrow-block__column {
  display: flex;
  flex-flow: column nowrap;
}
.arrow-arrow-block__column .pseudo-arrow {
  margin: 0 -2px;
}