@font-face {
  font-family: Folklore;
  src: url(../font/folklore.otf);
}

html {
  height: 100%;
  font-family: Folklore, monospace;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.coral {
  color: #e5434a;
}
