.page-container {
  display: flex;
  flex-flow: column nowrap;

  background-color: #484e4e;
}

.page-content-container {
  margin: 0;
}

.page-hero-container {
  display: flex;
  flex-flow: column nowrap;
  color: #fff;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
}

.page-hero-container--centered {
  align-items: center;
  justify-content: center;
}

.page-title {
  font-size: 8vw;
  margin: 25vh 0;
  text-transform: uppercase;
  letter-spacing: -2px;
}

@media (max-width: 45em) {
  .page-hero-container .main-logo {
    width: 70% !important;
  }
  .page-hero-container .main-logo .main-logo__subtitle > h2 {
    font-size: 3vw !important;
  }
  .page-title {
    font-size: 10vw;
  }
}

.page-hero-container .main-logo {
  margin-top: 30vh;
  width: 60%;
  margin-bottom: 15vh;
}

.page-hero-container .main-logo .main-logo__subtitle {
  display: flex;
  justify-content: center;
}

.page-hero-container .main-logo .main-logo__subtitle > h2 {
  font-size: 2vw;
  white-space: nowrap;
  margin: 0;
}

.page-hero-container .cta-button {
  margin-top: 3rem;
}
