.trainers-overview {
  display: flex;
  flex-flow: row wrap;
}

.trainers-overview > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 30vw;
  flex: 1 1 33%;
}

.trainers-overview > div:hover > .trainer-inlay {
  opacity: 1;
}

.trainer-inlay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-color: #e5434a;
  width: 85%;
  height: 85%;

  opacity: 0;

  color: #fff;
}

.trainer-inlay__title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.trainer-inlay__subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  margin: 0 1.5rem;
}

@media (max-width: 45em) {
  .trainer-inlay {
    display: none;
  }
}

@media (min-width: 65em) {
  .trainers-overview > div {
    height: 22vw;
  }
}

@media (min-width: 22em) and (max-width: 45em) {
  .trainers-overview > div {
    height: 50vw;
    flex: 1 1 50%;
  }
}

@media (max-width: 22em) {
  .trainers-overview > div {
    height: 95vw;
    flex: 1 1 100%;
  }
}
